.button-competences {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottone1 {
  margin-top: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 9px;
  background: #007594;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: none;
  transition: 0.4s;
}

.bottone1:hover {
  box-shadow: 7px 5px 56px -14px indigo;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.poly {
  padding-left: 0;
}
/* #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px blue;
} */

.bubble-zone {
  min-height: 475px;
  position: relative;
}
.static-bulles {
  opacity: 1;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgb(0, 96, 122);
  z-index: 1;
  opacity: 0, 5;
  overflow: hidden;
  animation: anim 8s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  text-align: center;
}
.banner {
  background: red;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  opacity: 0.5;
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Centrer horizontalement */
  width: 50%;
  height: 430px;
  text-align: center;
  font-size: 6rem;
  font-weight: bolder;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 900px) {
  .banner {
    font-size: 3rem;
    height: 230px;
    bottom: 300px;
  }
}
.footer {
  z-index: 5;
}
.bubble i {
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

.static-icones {
  cursor: pointer;
}

@keyframes anim {
  to {
    top: -250px;
    opacity: 1;
  }
}
